.gameCell {
    border: 0.1px solid grey;
    width: 4%;
    padding-top: 4%;
    display: inline-block;
}

.gameCell:hover {
    cursor: pointer;
    opacity: .8;
}

.removeSpace {
    line-height: 0px;
}



